@import url("https://fonts.googleapis.com/css?family=PT+Sans:400i,700i");

@font-face {
  font-family: 'Futura Std Web';
  src: url('../fonts/FuturaStd-CondExtraBoldObl.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FuturaStd-CondExtraBoldObl.woff') format('woff'),
       url('../fonts/FuturaStd-CondExtraBoldObl.ttf') format('truetype'),
       url('../fonts/FuturaStd-CondExtraBoldObl.svg#FuturaStd-CondExtraBoldObl') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Rockwell';
  src: url('../fonts/RockwellStd-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Avant Garde';
  src: url('../fonts/ITCAvantGardeStd-Bk.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
