.page .btn {
  display: inline-block;
  position: relative;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
}

.btn--default {
  &.btn--filled {
    color: $color-black;
    background-color: $color-white;
    border: 1px solid $color-white;

    &:hover {
      color: $color-white;
      background-color: $color-black;
      border: 1px solid $color-black;
    }
  }

  &.btn--bordered {
    color: $color-white;
    border: 1px solid $color-white;

    &:hover {
      color: $color-black;
      background-color: $color-white;
    }
  }
}

.btn--alt {
  &.btn--filled {
    color: $color-white;
    background-color: $color-black;
    border: 1px solid $color-black;

    &:hover {
      color: $color-black;
      background-color: $color-white;
      border: 1px solid $color-white;
    }
  }

  &.btn--bordered {
    color: $color-black;
    border: 1px solid $color-black;

    &:hover {
      color: $color-white;
      background-color: $color-black;
    }
  }
}

.btn--important {
  &.btn--filled {
    color: $color-white;
    background-color: $color-green;
    border: 1px solid $color-green;

    &:hover {
      color: $color-green;
      background-color: $color-black;
      border: 1px solid $color-black;
    }
  }

  &.btn--bordered {
    color: $color-green;
    border: 1px solid $color-green;

    &:hover {
      color: $color-white;
      background-color: $color-green;
    }
  }
}

.btn--danger {
  &.btn--filled {
    color: $color-white;
    background-color: $color-red;
    border: 1px solid $color-red;

    &:hover {
      color: $color-red;
      background-color: $color-black;
      border: 1px solid $color-black;
    }
  }

  &.btn--bordered {
    color: $color-red;
    border: 1px solid $color-red;

    &:hover {
      color: $color-white;
      background-color: $color-red;
    }
  }
}

.btn--small {
  padding: 10px 20px;
  @include responsive-vw(font-size, $min-font-size-small, $max-font-size-small);
}

.btn--medium {
  padding: 15px 30px;
  @include responsive-vw(font-size, $min-font-size-p, $max-font-size-p);
}

.btn--large {
  padding: 30px 60px;
  @include responsive-vw(font-size, $min-font-size-large, $max-font-size-large);
}
