html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100%;
  background-color: $color-body-background;
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
  @include clearfix;
  &__wrap {
    width: 100%;
    float: left;
  }
  img {
    max-width: 100%;
    float: left;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

input,
textarea,
button {
  padding: 0;
  outline: 0;
  font: inherit;
  display: block;
}

input[type=submit],
button {
  cursor: pointer;
}