@font-face {
  font-family: 'Rockwell';
  src: url("../fonts/RockwellStd-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'ITC Avant Garde';
  src: url("../fonts/ITCAvantGardeStd-Bk.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ITC Avant Garde Bold';
  src: url("../fonts/ITCAvantGardeStd-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'ITC Avant Garde Italic';
  src: url("../fonts/ITCAvantGardeStd-BkObl.otf") format("opentype");
  font-weight: bold;
  font-style: normal; }

div#ccm-highlighter {z-index:100!important;}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

.navicon {
  position: relative;
  display: none;
  float: right;
  padding: 23.5px 0;
  margin-right: 15px; }
  .navicon__bars {
    position: relative;
    width: 2rem;
    height: 0.2rem;
    background-color: #000000; }
    .navicon__bars:before, .navicon__bars:after {
      display: block;
      content: "";
      height: 0.2rem;
      width: 2rem;
      background-color: #000000;
      position: absolute; }
    .navicon__bars:before {
      top: .625rem; }
    .navicon__bars:after {
      top: -.625rem;
      height: 0.2rem; }

.open:not(.steps) .navicon__bars:before,
.open:not(.steps) .navicon__bars:after {
  top: 0 !important; }

.open .navicon__bars:before,
.open .navicon__bars:after {
  background-color: #000000; }

.open.x {
  z-index: 3; }
  .open.x:hover .navicon__bars:before, .open.x:hover .navicon__bars:after {
    background-color: #000000; }
  .open.x .navicon__bars {
    background-color: transparent; }
    .open.x .navicon__bars:before {
      transform: rotate(-45deg); }
    .open.x .navicon__bars:after {
      transform: rotate(45deg); }

.grid__container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .grid__container::after {
    clear: both;
    content: "";
    display: table; }
.grid__row {
  display: block; }
  .grid__row::after {
    clear: both;
    content: "";
    display: table; }
.grid__col--1 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 8.33333%; }
  .grid__col--1:last-child {
    margin-right: 0; }
.grid__col--2 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 16.66667%; }
  .grid__col--2:last-child {
    margin-right: 0; }
.grid__col--3 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 25%; }
  .grid__col--3:last-child {
    margin-right: 0; }
.grid__col--4 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 33.33333%; }
  .grid__col--4:last-child {
    margin-right: 0; }
.grid__col--5 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 41.66667%; }
  .grid__col--5:last-child {
    margin-right: 0; }
.grid__col--6 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 50%; }
  .grid__col--6:last-child {
    margin-right: 0; }
.grid__col--7 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 58.33333%; }
  .grid__col--7:last-child {
    margin-right: 0; }
.grid__col--8 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 66.66667%; }
  .grid__col--8:last-child {
    margin-right: 0; }
.grid__col--9 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 75%; }
  .grid__col--9:last-child {
    margin-right: 0; }
.grid__col--10 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 83.33333%; }
  .grid__col--10:last-child {
    margin-right: 0; }
.grid__col--11 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 91.66667%; }
  .grid__col--11:last-child {
    margin-right: 0; }
.grid__col--12 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%; }
  .grid__col--12:last-child {
    margin-right: 0; }
.grid__shift--1 {
  margin-left: 8.33333%; }
.grid__shift--2 {
  margin-left: 16.66667%; }
.grid__shift--3 {
  margin-left: 25%; }
.grid__shift--4 {
  margin-left: 33.33333%; }
.grid__shift--5 {
  margin-left: 41.66667%; }
.grid__shift--6 {
  margin-left: 50%; }
.grid__shift--7 {
  margin-left: 58.33333%; }
.grid__shift--8 {
  margin-left: 66.66667%; }
.grid__shift--9 {
  margin-left: 75%; }
.grid__shift--10 {
  margin-left: 83.33333%; }
.grid__shift--11 {
  margin-left: 91.66667%; }

h1 {
  font-family: 'Rockwell';
  text-transform: uppercase;
  font-size: 1.6em;
}

h2 {
  font-family: 'Rockwell';
  text-transform: uppercase;
  font-size: 1.3em;
}

h3 {
  font-size: 1em;
  font-family: 'ITC Avant Garde Bold';
}

p {
  font-size: 1em;
}

a {
  color: #009cdc;
}

.page__wrap img {
  width: 100%;
  height: auto;
}

.section ul {
  padding: 10px 0 10px 20px;
}

strong {
  font-family: 'ITC Avant Garde Bold';
}

em {
  font-family: 'ITC Avant Garde Italic';
}

input[type="text"] {
  width: 75%;
}

select {
  width: 77%;
  color: #555555;
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 3px;
}

label {
  padding-bottom: 5px;
}

.btn {
  color: #ffffff;
  font-size: 1.2em;
  background: #009cdc;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background: #0282b5;
  text-decoration: none;
}

.page__title {
  padding-bottom: 50px;
}

.section {
  margin-top: 50px;
}

.page__section,
.contact__section {
  margin-bottom: 40px;
}

.contact__section {
  float: left;
  display: block;
  margin-right: 0%;
  width: 30%;
}

.contact__section:nth-child(3n+1) {
  padding: 0 20px 0 0;
}

.contact__section:nth-child(3n+2) {
  padding: 0 40px 0 40px;
}

.contact__section:nth-child(3n+3) {
  padding: 0 0 0 20px;
}




body {
  height: 100%;
  font-family: 'ITC Avant Garde';
}

.hero {
  width: 100%;
}

.hero-wrapper {
  padding: 20px 0;
}

.hero-wrapper div {
  position: relative;
  min-height: 400px;
}

header {
  font-family: 'Rockwell';
  font-size: 1.1em;
  text-align: center;
}

.main-nav {
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
}

.sub-nav {
  display: none;
}

.subheader__nav {
  border-bottom: 1px solid #000000;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  
  -webkit-justify-content: space-between; 
  justify-content: space-between; 
}

nav ul li {
  padding: 10px 0;
}

nav ul li a {
  list-style: none;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

nav ul li a:hover {
  border-bottom: 3px solid #009cdc;
}

a.nav-selected {
  border-bottom: 3px solid #009cdc;
}




.nav ul { 
  position: absolute; 
  top: -999em; /* left offset of submenus need to match (see below) */
  background-color: #ffffff;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  display: block;
  padding: 20px;
  width: 200px;
  text-align: left;
}

.nav li:hover { 
  visibility: inherit; /* fixes IE7 'sticky bug' */
}

.nav li { 
  position: relative; 
  width: auto;
}

.nav li:hover ul,
.nav li.sfHover ul { 
  left: -20px; 
  top: 41px; /* match top ul list item height */ 
  z-index: 3;
}

ul.nav li:hover li ul,
ul.nav li.sfHover li ul { 
  top: -999em;
}

ul.nav li li:hover ul,
ul.nav li li.sfHover ul { 
  left: 150px; /* match ul width */ 
  top: 0px;
}

ul.nav li li:hover li ul,
ul.nav li li.sfHover li ul { 
  top: -999em;
}

ul.nav li li li:hover ul,
ul.nav li li li.sfHover ul { 
  left: 150px; /* match ul width */ 
  top: 0px;
}





.quote img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.section__banner {
  position: relative;
  width: 100%;
}

.section__banner--image {
  position: relative;
}

.section__banner--image img {
  display: block;
  width: 100%;
  height: auto;
}

.section__banner--text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: .5s ease;
  background: linear-gradient(to right, #5da7e0 30%,#9ab738 70%);
}

.section__banner:hover .section__banner--text {
  opacity: 1;
}

.section__banner--text p {
  color: white;
  text-align: center;
  font-size: 2vw;
}


.blokken--wrapper,
.bestuur--wrapper {
  border: 8px solid #009cdc;
  background-color: #ffffff;
}

.blokken--image,
.bestuur--image {
  position: relative;
  width: 100%;
  text-decoration: none;
}

.blokken--image img,
.bestuur--image img {
  display: block;
  width: 100%;
  height: auto;
}

.blokken--tekst,
.bestuur--tekst {
  text-align: center;
  padding: 15px 0;
}

.blokken--title,
.bestuur--title {
  text-decoration: none;
  color: #000000;
  font-size: 1.1em;
}


/* Page-list initiatieven */

.ccm-block-page-list-pages-initiatieven {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ccm-block-page-list-pages-initiatieven > div
{
   flex: 2 0 30%;
}

.ccm-block-page-list-pages-initiatieven > div:nth-child(4n)
{
    flex: 0 1 100%;
}

.ccm-block-page-list-page-entry-horizontal-initiatieven:nth-child(4n+1) {
  padding: 0 0 40px 0;
  float: left;
}

.ccm-block-page-list-page-entry-horizontal-initiatieven:nth-child(4n+2) {
  padding: 0 60px 40px 60px;
}

.ccm-block-page-list-page-entry-horizontal-initiatieven:nth-child(4n+3) {
  padding: 0 0 40px 0;
  float: right;
}

.ccm-block-page-list-page-entry-horizontal-initiatieven:nth-child(4n) {
  padding: 0 0 40px 0;
}

.page__list--inner {
  border: 8px solid #009cdc;
  background-color: #ffffff;
}

.ccm-block-page-list-page-entry-thumbnail {
  position: relative;
  width: 100%;
}

.ccm-block-page-list-page-entry-thumbnail img {
  display: block;
  width: 100%;
  height: auto;
}

.ccm-block-page-list-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: .4s ease;
  background-color: rgba(0, 156, 220, 0.8);
}

.page__list--inner:hover .ccm-block-page-list-description {
  opacity: 1;
}

.ccm-block-page-list-description p {
  color: #ffffff;
  text-align: center;
  font-size: 1.6em;
  margin: 0 auto;
  width: 80%;
}

.ccm-block-page-list-page-entry-text {
  text-align: center;
  padding: 15px 0;
}

.ccm-block-page-list-title-link {
  text-decoration: none;
  color: #000000;
  font-size: 1.1em;
}


/* Page-list about */

.ccm-block-page-list-pages-about {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ccm-block-page-list-pages-about > div
{
   flex: 1 0 40%;
}

.ccm-block-page-list-page-entry-horizontal-about:nth-child(2n+1) {
  padding: 0 20px 40px 0;
}

.ccm-block-page-list-page-entry-horizontal-about:nth-child(2n+2) {
  padding: 0 0 40px 20px;
}


/* Page-list bestuur */


.ccm-block-page-list-pages-bestuur {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ccm-block-page-list-pages-bestuur > div
{
   flex: 2 0 29%;
}

.ccm-block-page-list-pages-bestuur > div:nth-child(7n)
{
    flex: 0 1 30%;
}

.ccm-block-page-list-page-entry-horizontal-bestuur:nth-child(3n+1) {
  padding: 0 0 40px 0;
}

.ccm-block-page-list-page-entry-horizontal-bestuur:nth-child(3n+2) {
  padding: 0 60px 40px 60px;
}

.ccm-block-page-list-page-entry-horizontal-bestuur:nth-child(3n+3) {
  padding: 0 0 40px 0;
}



footer {
  border-top: 1px solid #000000;
  margin-top: 20px;
  padding: 25px 0 100px 0;
}

footer p {
  font-family: 'ITC Avant Garde Bold';
  text-align: center;
  font-size: 1.1em;
  color: #dedede;
}

footer a {
  color: #dedede;
  text-decoration: none;
}

footer a:hover {
  color: #000000;
}




@media screen and (max-width: 1216px) {
  .grid__container {
    padding: 0 20px;
  }
  
  .ccm-block-page-list-pages-initiatieven > div
  {
     flex: 2 0 20%;
  }
}

@media screen and (max-width: 1000px) {
  
  .grid__container {
    padding: 0 20px;
  }
  
  .grid__col--sm--12 {
    width: 100%!important;
  }
  
  .grid__shift--2 {
    margin-left: 0;
  }
  
  .hero-wrapper div {
    min-height: 200px;
  }
  
  .sub-nav {
    display: block;
  }
  
  .header__nav {
      display: none;
      position: relative;
      width: 100%;
      float: left;
      height: auto;
      padding-bottom: 20px;
      background: #ffffff; }
  
  .subheader__nav {
    padding: 20px 0;
  }
  
  .header__nav ul li ul {
    display: none;
  }
  
  nav ul {
    -ms-box-orient: vertical;
    display: -webkit-block;
    display: -moz-block;
    display: -ms-block;
    display: -moz-block;
    display: -webkit-block;
    display: block;

    -webkit-justify-content: none; 
    justify-content: none; 
  }
  
  .navicon {
    display: block; }
  
  .section__banner--text p {
    font-size: 2.5vw;
  }
  
  .ccm-block-page-list-page-entry-horizontal-initiatieven:nth-child(4n+2),
  .ccm-block-page-list-page-entry-horizontal-bestuur:nth-child(3n+2) {
    padding: 0 30px 40px 30px;
  }

  .ccm-block-page-list-page-entry-horizontal-initiatieven:nth-child(4n) {
    padding: 0 0 40px 0;
  }
  
  .ccm-block-page-list-pages-initiatieven > div
  {
     flex: 2 0 20%;
  }

  .ccm-block-page-list-description p {
    font-size: 1.3em;
  }
  
  .ccm-block-page-list-page-entry-horizontal-bestuur .ccm-block-page-list-title {
    font-size: 0.8em;
  }
  
  .ccm-block-page-list-page-entry-horizontal-bestuur .ccm-block-page-list-description p {
    font-size: 1em;
  }
  
}

@media screen and (max-width: 680px) {
  
  .ccm-block-page-list-pages-initiatieven > div,
  .ccm-block-page-list-pages-about > div,
  .ccm-block-page-list-pages-bestuur > div {
    flex: 1 0 100%;
  }
  
  .ccm-block-page-list-pages-bestuur > div:nth-child(7n) {
    flex: 1 0 100%;
  }
  
  .ccm-block-page-list-page-entry-horizontal-initiatieven:nth-child(4n+2),
  .ccm-block-page-list-page-entry-horizontal-about:nth-child(2n+2),
  .ccm-block-page-list-page-entry-horizontal-bestuur:nth-child(3n+2) {
    padding: 0 0 40px 0;
  }
  
  iframe {
    height: 400px;
  }
  
  footer p {
    text-align: left;
  }
  
  footer .grid__col--4 {
    padding-bottom: 20px;
  }
  
}

@media screen and (max-width: 600px) {
  
  iframe {
    height: 300px;
  }
  
}

@media screen and (max-width: 500px) {
  
  iframe {
    height: 200px;
  }
  
}
